In [127]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
pd.set_option('display.precision',2)

In [251]:
train = pd.read_csv('train.csv',index_col= "id")
test = pd.read_csv('test.csv',index_col="id")

In [129]:
print("shape of training data:", train.shape)
print("shape of test data", test.shape)

shape of training data: (19219, 34)
shape of test data (12814, 27)

In [252]:
cols = ["Pastry","Z_Scratch","K_Scatch","Stains","Dirtiness","Bumps","Other_Faults"]
X  = train.drop(cols,axis=1)
y = train[cols]

In [253]:
y.head()

    Pastry  Z_Scratch  K_Scatch  Stains  Dirtiness  Bumps  Other_Faults
id
0        0          0         0       1          0      0             0
1        0          0         0       0          0      0             1
2        0          0         1       0          0      0             0
3        0          0         1       0          0      0             0
4        0          0         0       0          0      0             1

In [254]:
X.head()

,X_Minimum,X_Maximum,Y_Minimum,Y_Maximum,Pixels_Areas,X_Perimeter,Y_Perimeter,Sum_of_Luminosity,Minimum_of_Luminosity,Maximum_of_Luminosity,...,Outside_X_Index,Edges_X_Index,Edges_Y_Index,Outside_Global_Index,LogOfAreas,Log_X_Index,Log_Y_Index,Orientation_Index,Luminosity_Index,SigmoidOfAreas
id,,,,,,,,,,,,,,,,,,,,,
0,584,590,909972,909977,16,8,5,2274,113,140,...,5.90e-03,1.00,1.00,0.0,1.20,0.90,0.70,-0.50,-0.01,0.14
1,808,816,728350,728372,433,20,54,44478,70,111,...,4.40e-03,0.25,1.00,1.0,2.64,0.78,1.73,0.74,-0.30,0.95
2,39,192,2212076,2212144,11388,705,420,1311391,29,141,...,1.08e-01,0.24,0.39,0.0,4.06,2.18,2.21,-0.01,-0.09,1.00
3,781,789,3353146,3353173,210,16,29,3202,114,134,...,4.40e-03,0.38,0.93,1.0,2.32,0.78,1.43,0.67,-0.04,0.40
4,1540,1560,618457,618502,521,72,67,48231,82,111,...,1.92e-02,0.21,0.99,1.0,2.77,1.42,1.88,0.92,-0.25,1.00

In [255]:
X.isnull().values.any()
X.describe()

,X_Minimum,X_Maximum,Y_Minimum,Y_Maximum,Pixels_Areas,X_Perimeter,Y_Perimeter,Sum_of_Luminosity,Minimum_of_Luminosity,Maximum_of_Luminosity,...,Outside_X_Index,Edges_X_Index,Edges_Y_Index,Outside_Global_Index,LogOfAreas,Log_X_Index,Log_Y_Index,Orientation_Index,Luminosity_Index,SigmoidOfAreas
count,19219.00,19219.00,1.92e+04,1.92e+04,19219.00,19219.00,19219.00,1.92e+04,19219.00,19219.00,...,1.92e+04,19219.00,19219.00,19219.00,19219.00,19219.00,19219.00,19219.00,19219.00,19219.00
mean,709.85,753.86,1.85e+06,1.85e+06,1683.99,95.65,64.12,1.92e+05,84.81,128.65,...,3.06e-02,0.61,0.83,0.59,2.47,1.31,1.39,0.10,-0.14,0.57
std,531.54,499.84,1.90e+06,1.90e+06,3730.32,177.82,101.05,4.42e+05,28.80,14.20,...,4.73e-02,0.22,0.22,0.48,0.76,0.47,0.41,0.49,0.12,0.33
min,0.00,4.00,6.71e+03,6.72e+03,6.00,2.00,1.00,2.50e+02,0.00,39.00,...,1.50e-03,0.01,0.10,0.00,0.78,0.30,0.00,-0.99,-0.89,0.12
25%,49.00,214.00,6.57e+05,6.58e+05,89.00,15.00,14.00,9.85e+03,70.00,124.00,...,6.60e-03,0.45,0.66,0.00,1.95,1.00,1.08,-0.27,-0.19,0.25
50%,777.00,796.00,1.40e+06,1.40e+06,168.00,25.00,23.00,1.82e+04,90.00,127.00,...,9.50e-03,0.64,0.96,1.00,2.23,1.15,1.32,0.11,-0.14,0.47
75%,1152.00,1165.00,2.37e+06,2.36e+06,653.00,64.00,61.00,6.80e+04,105.00,135.00,...,1.91e-02,0.79,1.00,1.00,2.81,1.43,1.71,0.53,-0.08,1.00
max,1705.00,1713.00,1.30e+07,1.30e+07,152655.00,7553.00,903.00,1.16e+07,196.00,253.00,...,6.65e-01,1.00,1.00,1.00,4.55,3.00,4.03,0.99,0.64,1.00

In [298]:
from sklearn.preprocessing import Normalizer
train_df = (X- X.min())/X.std()
test_df = (test - test.min())/test.std()

In [299]:
df = pd.DataFrame(columns=cols,index=test.index)
print(df.shape)
df.head()

(12814, 7)

      Pastry Z_Scratch K_Scatch Stains Dirtiness Bumps Other_Faults
id
19219    NaN       NaN      NaN    NaN       NaN   NaN          NaN
19220    NaN       NaN      NaN    NaN       NaN   NaN          NaN
19221    NaN       NaN      NaN    NaN       NaN   NaN          NaN
19222    NaN       NaN      NaN    NaN       NaN   NaN          NaN
19223    NaN       NaN      NaN    NaN       NaN   NaN          NaN

In [300]:
from sklearn.linear_model import LogisticRegression

for i in cols:
    model = LogisticRegression(max_iter=1000)
    model.fit(train_df,y[i])
    pred = model.predict_proba(test_df)
    df[i] = pred[:,1]

In [301]:
model = LogisticRegression(max_iter=1000)
model.fit(train_df,y["Z_Scratch"])
y_pred= model.predict_proba(test_df)[:,1]
y_pred

array([0.00012137, 0.01880313, 0.01392981, ..., 0.0006319 , 0.0151062 ,
       0.00842691])

In [302]:
print(df.shape)
df.head(-5)

(12814, 7)

,Pastry,Z_Scratch,K_Scatch,Stains,Dirtiness,Bumps,Other_Faults
id,,,,,,,
19219,3.39e-01,1.21e-04,2.75e-03,3.02e-06,2.80e-02,1.77e-01,0.42
19220,2.59e-01,1.88e-02,2.29e-02,3.69e-04,1.47e-01,8.86e-02,0.30
19221,3.73e-03,1.39e-02,1.45e-01,4.26e-03,2.01e-02,1.86e-01,0.36
19222,1.21e-01,1.05e-03,8.36e-04,1.52e-03,3.92e-03,2.28e-01,0.36
19223,1.63e-03,4.71e-04,5.54e-03,1.11e-03,5.32e-03,4.44e-01,0.35
...,...,...,...,...,...,...,...
32023,3.39e-01,1.28e-01,8.65e-04,3.00e-07,9.45e-02,2.19e-02,0.42
32024,5.23e-03,1.79e-02,5.19e-04,6.02e-01,5.81e-03,1.98e-01,0.28
32025,1.57e-03,1.80e-02,1.53e-01,3.56e-01,1.88e-02,1.05e-01,0.36
32026,1.23e-01,9.02e-04,1.07e-03,2.88e-04,3.73e-03,4.86e-01,0.38
32027,3.28e-04,1.80e-03,9.62e-01,1.46e-07,5.18e-04,5.79e-03,0.08

In [303]:
submission = pd.DataFrame({
    'id': test.index,
    'Pastry': df.Pastry,
    'Z_Scratch': df.Z_Scratch,
    'K_Scatch': df.K_Scatch,
    'Stains': df.Stains,
    'Dirtiness': df.Dirtiness,
    'Bumps': df.Bumps,
    'Other_Faults': df.Other_Faults
})

In [304]:
submission.head()

,id,Pastry,Z_Scratch,K_Scatch,Stains,Dirtiness,Bumps,Other_Faults
id,,,,,,,,
19219,19219,3.39e-01,1.21e-04,2.75e-03,3.02e-06,2.80e-02,0.18,0.42
19220,19220,2.59e-01,1.88e-02,2.29e-02,3.69e-04,1.47e-01,0.09,0.30
19221,19221,3.73e-03,1.39e-02,1.45e-01,4.26e-03,2.01e-02,0.19,0.36
19222,19222,1.21e-01,1.05e-03,8.36e-04,1.52e-03,3.92e-03,0.23,0.36
19223,19223,1.63e-03,4.71e-04,5.54e-03,1.11e-03,5.32e-03,0.44,0.35

In [306]:
submission.to_csv('submission.csv',index=False)